.root{
    -fx-background-color: #263553;
}

.text-field, .combo-box{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;

}

.button{
    -fx-background-color: #ffd634;
    -fx-text-fill: #363a53;
}

.region-box {
    -fx-padding: 0 0 0 40;
}

.cell{
    -fx-background-color: #263553;
    -fx-text-fill: white;
}

